---
http_interactions:
- request:
    method: post
    uri: https://tryout-catena-db.guardtime.net/api/v2/signatures
    body:
      encoding: UTF-8
      string: '{"metadata":{"id":"fish-GuardtimeV2","payload":"halibut","timestamp":"2016-11-02T10:12:59+00:00"},"dataHash":{"value":"TDAy82hS3wKrnBpB6o+wTy43Wuhd7yN2houga2XvlE0=","algorithm":"SHA-256"},"level":0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"962338dd-aa63-4640-8ab9-7bf7e7de7a9f","createdAt":1507729198250,"createdBy":"ot.vt2ron","metadata":{"id":"fish-GuardtimeV2","payload":"halibut","timestamp":"2016-11-02T10:12:59+00:00"},"signature":{"status":"PENDING","details":{"dataHash":{"algorithm":"SHA-256","value":"TDAy82hS3wKrnBpB6o+wTy43Wuhd7yN2houga2XvlE0="}}}}'
  recorded_at: Wed, 11 Oct 2017 13:39:58 GMT
[...]
- request:
    method: get
    uri: https://tryout-catena-db.guardtime.net/api/v2/signatures?metadata.id=fish-GuardtimeV2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ids":["3f45ea30-9109-4e6c-b66e-508cecf25617"]}'
  recorded_at: Tue, 10 Oct 2017 09:36:39 GMT
- request:
    method: get
    uri: https://tryout-catena-db.guardtime.net/api/v2/signatures/3f45ea30-9109-4e6c-b66e-508cecf25617
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"3f45ea30-9109-4e6c-b66e-508cecf25617","createdAt":1507628198638,"createdBy":"ot.vt2ron","metadata":{"payload":"halibut","id":"fish-GuardtimeV2","timestamp":"2016-11-02T10:12:59+00:00"},"signature":{"status":"PENDING","details":{"dataHash":{"algorithm":"SHA-256","value":"TDAy82hS3wKrnBpB6o+wTy43Wuhd7yN2houga2XvlE0="}}}}'
  recorded_at: Tue, 10 Oct 2017 09:36:39 GMT
- request:
    method: get
    uri: https://tryout-catena-db.guardtime.net/api/v2/signatures?metadata.id=fruit-GuardtimeV2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ids":["259277a7-9c55-4534-b90d-d0b0a9a83e64"]}'
  recorded_at: Tue, 10 Oct 2017 09:36:39 GMT
[...]
- request:
    method: get
    uri: https://tryout-catena-db.guardtime.net/api/v2/signatures?metadata.id=corn-based-snack-GuardtimeV2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ids":["7fd8e89f-a321-4795-8aca-010b15369e82"]}'
  recorded_at: Tue, 10 Oct 2017 09:36:39 GMT
- request:
    method: get
    uri: https://tryout-catena-db.guardtime.net/api/v2/signatures/7fd8e89f-a321-4795-8aca-010b15369e82
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"7fd8e89f-a321-4795-8aca-010b15369e82","createdAt":1507628198895,"createdBy":"ot.vt2ron","metadata":{"payload":"frazzles","id":"corn-based-snack-GuardtimeV2","timestamp":"2015-12-12T12:00:00+00:00"},"signature":{"status":"PENDING","details":{"dataHash":{"algorithm":"SHA-256","value":"Eq85GDLuVBigY9m5GUsQNCBy1ZNJxaffFYqn8dqC3TY="}}}}'
  recorded_at: Tue, 10 Oct 2017 09:36:39 GMT
recorded_with: VCR 3.0.3
