---
http_interactions:
- request:
    method: post
    uri: https://tryout-catena-db.guardtime.net/api/v2/signatures
    body:
      encoding: UTF-8
      string: '{"metadata":{"id":"fish-GuardtimeV2","payload":"halibut","timestamp":"2016-11-02T10:12:59+00:00"},"dataHash":{"value":"TDAy82hS3wKrnBpB6o+wTy43Wuhd7yN2houga2XvlE0=","algorithm":"SHA-256"},"level":0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"3f45ea30-9109-4e6c-b66e-508cecf25617","createdAt":1507628198638,"createdBy":"ot.vt2ron","metadata":{"id":"fish-GuardtimeV2","payload":"halibut","timestamp":"2016-11-02T10:12:59+00:00"},"signature":{"status":"PENDING","details":{"dataHash":{"algorithm":"SHA-256","value":"TDAy82hS3wKrnBpB6o+wTy43Wuhd7yN2houga2XvlE0="}}}}'
  recorded_at: Tue, 10 Oct 2017 09:36:38 GMT
[...]
- request:
    method: get
    uri: https://tryout-catena-db.guardtime.net/api/v2/signatures?metadata.id=fish-GuardtimeV2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ids":["3f45ea30-9109-4e6c-b66e-508cecf25617"]}'
  recorded_at: Tue, 10 Oct 2017 09:36:39 GMT
- request:
    method: get
    uri: https://tryout-catena-db.guardtime.net/api/v2/signatures/3f45ea30-9109-4e6c-b66e-508cecf25617
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"3f45ea30-9109-4e6c-b66e-508cecf25617","createdAt":1507628198638,"createdBy":"ot.vt2ron","metadata":{"payload":"halibut","id":"fish-GuardtimeV2","timestamp":"2016-11-02T10:12:59+00:00"},"signature":{"status":"PENDING","details":{"dataHash":{"algorithm":"SHA-256","value":"TDAy82hS3wKrnBpB6o+wTy43Wuhd7yN2houga2XvlE0="}}}}'
  recorded_at: Tue, 10 Oct 2017 09:36:39 GMT
- request:
    method: get
    uri: https://tryout-catena-db.guardtime.net/api/v2/signatures?metadata.id=fruit-GuardtimeV2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ids":["259277a7-9c55-4534-b90d-d0b0a9a83e64"]}'
  recorded_at: Tue, 10 Oct 2017 09:36:39 GMT
[...]
- request:
    method: get
    uri: https://tryout-catena-db.guardtime.net/api/v2/signatures?metadata.id=corn-based-snack-GuardtimeV2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ids":["7fd8e89f-a321-4795-8aca-010b15369e82"]}'
  recorded_at: Tue, 10 Oct 2017 09:36:39 GMT
[...]
- request:
    method: get
    uri: https://tryout-catena-db.guardtime.net/api/v2/signatures?metadata.id=software-tools-in-pascal-GuardtimeV2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ids":["27820175-8a0c-43f7-886e-523fe22622ee","63f3592a-ecca-4288-ba94-dca73322621f"]}'
  recorded_at: Wed, 25 Oct 2017 13:55:52 GMT
[...]
- request:
    method: get
    uri: https://tryout-catena-db.guardtime.net/api/v2/signatures/63f3592a-ecca-4288-ba94-dca73322621f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"63f3592a-ecca-4288-ba94-dca73322621f","createdAt":1508939751370,"createdBy":"ot.vt2ron","metadata":{"payload":"PJ
        Plauger","id":"software-tools-in-pascal-GuardtimeV2","timestamp":"1944-01-13T00:00:00+00:00"},"signature":{"status":"SIGNED","details":{"dataHash":{"algorithm":"SHA-256","value":"0W+fMOUe4YfaNVBzS2s1J02su7AECTLMGPE3bHz73w0="},"aggregationTime":1508939752000,"identity":[{"clientId":"GT","machineId":"ANe2:0","sequenceNumber":7,"requestTime":1508939752351262},{"clientId":"GT","machineId":"ASe2-0:1","sequenceNumber":5,"requestTime":1508939752340906},{"clientId":"GT","machineId":"ALe2-1-2:8","sequenceNumber":4,"requestTime":1508939751948628},{"clientId":"katja","machineId":"katja:1","sequenceNumber":0,"requestTime":1508939751815963},{"clientId":"ot.vt2ron","sequenceNumber":0}]},"verificationResult":{"status":"OK","policyResults":[{"policyResultCode":"OK","policy":"KEY_BASED_POLICY"}]},"ksiSignature":"iAAHO4gBAFYCBFnwl+gDAQoDAQsDAREDAQcDAQMDAQMFIQHRb58w5R7hh9o1UHNLazUnTay7sAQJMswY8TdsfPvfDQYBAQcWAQAEEn4CAQEBCm90LnZ0MnJvbgADAIgBAF8CBFnwl+gDAQoDAQsDAREDAQcDAQMFIQGUphc14qZANfr0+h6XKH5HeqZ34FhFjzIh66XR+aYfzwYBAQciBCB+AQFhBmthdGphAGIIa2F0amE6MQBjAGQHBVxfaeT7G4gBAIYCBFnwl+gDAQoDAQsDAREDAQcFIQHhwkrhVdwZ6Sb7oqxlD93EYBbrbOpjuO/Tp0hr0vdC4gYBAQckBCJ+AgEBYQNHVABiC0FMZTItMS0yOjgAYwEEZAcFXF9p5wFUByYBAQECIQE7RmkinxonB/VP6VdUmqKCIEQm8k4+8e/AwNsgRyIHd4gBAMgCBFnwl+gDAQoDAQsDAREFIQGr+O1hZdyhrmw/89nVANTAmgPlDqW[...]
